$colorMain: #eceef1;
$colorBtn: #0077c5;
$colorFocus: #52A8EC;
$colorBox: #ffffff;
$colorLigthGrey: #afb1b9;
$colorDarkGrey: #6b6c72;
$colorText: #424349;
$colorError: rgb(204, 66, 66);

$baseSpace: 16px;